*{

    padding: 0%;
    margin: 0%;

}


body{

    background-color: #E7D3D3;

}
h2{
    background-color: #D25D5D;
    text-align: center;
    color: white;
    font-size: 45px;
    padding: 20px;

}
ul{
    text-align: center;
    background-color: #B9375D;
    list-style: none;
    padding: 10px;
}
li{
   
    display: inline;
    padding: 8px;
    color: white;
}

#imageDiv{
    
    padding: 40px;
    text-align: center;

}
#imageDiv img{
   width: 250px;
   height: 250px; 
   border-radius: 50%;
   
}
.desc{
    background-color:#D25D5D;
    width: 80%;
    margin: auto;
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.desc h3{
    text-align: center;
    color: wheat;
    font-size: 30px;
    margin-bottom: 20px;

    
}

#container{
    padding: 30px;
    
    display:flex;
    justify-content:space-around;
}
.cards{
    width: 300px;
    
    background-color:#D25D5D;
    
    border-radius: 10px;
}
.cards h1{
    text-align: center;
    color: white;
    padding: 20px;
  
   
}
.cards h2{
    text-align: center;
    color: white;
    
    font-size: 20px;
}
.cards p{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.cards button{
    background-color: #B9375D;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.cards button:hover{
    cursor: pointer;
    background-color: #DDD;
    color: #000;

}

#contact{

    
    
    background-color: #D25D5D;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;

}
#contact h1{
  
    margin-bottom: 20px;
}
#form{
   
    margin: 30px;
    font-size: 20px;
}
#form input{
    margin-left: 18px;
    width: 30%;
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
}
#form textarea{
    width: 40%;
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
#form button{
    background-color: #B9375D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
#form button:hover{
    cursor: pointer;
    background-color: #DDD;
    color: #000;
}